.page-info {
    width: 100%;

    .search {
        background: rgb(237, 240, 237);
        border-radius: 10px 10px 10px 10px;
    }

    .search-box {
        padding-top: 24px;
        padding-right: 25px;
    }

    .button {
        margin-top: 10px;
        border-radius: 10px;
    }

    .content {
        margin-top: 10px;
        background: red;
    }
}

.ant-form {
    .ant-picker {
        width: 100%;
    }

    .ant-select {
        width: 100%;
    }
}